pkgbase = firefox-ubuntu
	pkgdesc = Standalone web browser from mozilla.org with Global Menu integration
	pkgver = 50.1.0
	pkgrel = 1
	url = https://www.mozilla.org/firefox/
	arch = i686
	arch = x86_64
	license = MPL
	license = GPL
	license = LGPL
	makedepends = unzip
	makedepends = zip
	makedepends = diffutils
	makedepends = python2
	makedepends = yasm
	makedepends = mesa
	makedepends = imake
	makedepends = gconf
	makedepends = xorg-server-xvfb
	makedepends = libpulse
	makedepends = inetutils
	makedepends = autoconf2.13
	makedepends = rust
	depends = gtk3
	depends = mozilla-common
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = alsa-lib
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = libvpx
	depends = icu
	depends = libevent
	depends = nss>=3.18.1
	depends = nspr>=4.10.6
	depends = hunspell
	depends = sqlite
	depends = libnotify
	depends = ffmpeg
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = gst-plugins-good: h.264 video
	optdepends = gst-libav: h.264 video
	optdepends = upower: Battery API
	provides = firefox=50.1.0
	conflicts = firefox
	conflicts = firefox-kde-opensuse
	conflicts = firefox-unity
	options = !emptydirs
	options = strip
	source = https://ftp.mozilla.org/pub/mozilla.org/firefox/releases/50.1.0/source/firefox-50.1.0.source.tar.xz
	source = mozconfig
	source = firefox.desktop
	source = firefox-install-dir.patch
	source = vendor.js
	source = firefox-fixed-loading-icon.png
	source = unity-menubar.patch
	source = fix-wifi-scanner.diff
	source = rust-i686.patch
	source = configure.patch
	sha256sums = 54bb9bccbf9eed0c7715ae7f45330bf41ce24b756f5fdecb380e06709a6ac5a4
	sha256sums = d269c6f13ba588726edbb7f4518eb6c2ce56a6016289b47f587f25c3219805fc
	sha256sums = 75c526e9669b91b4fe5dcea650a1e8419220abb2e9564184f0d984c71eae82e8
	sha256sums = d86e41d87363656ee62e12543e2f5181aadcff448e406ef3218e91865ae775cd
	sha256sums = 93c5df00f409988bbfa890ac175103476ead3af68f7501973ee70bd11dc472f8
	sha256sums = 68e3a5b47c6d175cc95b98b069a15205f027cab83af9e075818d38610feb6213
	sha256sums = 220be1365731088afc0b170800da63cdb9c564f975da8ee1aa3133e16b7e6bdb
	sha256sums = 9765bca5d63fb5525bbd0520b7ab1d27cabaed697e2fc7791400abc3fa4f13b8
	sha256sums = f61ea706ce6905f568b9bdafd1b044b58f20737426f0aa5019ddb9b64031a269
	sha256sums = 7120bf95ef9880272b3615cde98d30845c03009e3e6125e11f9862bfd93900bd

pkgname = firefox-ubuntu

