[Desktop Entry]
Name=Bluetooth
Name[af]=Bluetooth
Name[an]=Bluetooth
Name[ar]=بلوتوث
Name[as]=ব্লুটুথ
Name[ast]=Bluetooth
Name[be]=Bluetooth
Name[bg]=Мрежа през Bluetooth
Name[bn]=ব্লুটুথ
Name[bn_IN]=Bluetooth
Name[ca]=Bluetooth
Name[ca@valencia]=Bluetooth
Name[crh]=Bluetooth
Name[cs]=Bluetooth
Name[da]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en_GB]=Bluetooth
Name[eo]=Bludento
Name[es]=Bluetooth
Name[et]=Bluetooth
Name[eu]=Bluetooth
Name[fa]=بلوتوس
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[ga]=Bluetooth
Name[gl]=Bluetooth
Name[gu]=બ્લુટુથ
Name[he]=Bluetooth
Name[hi]=ब्लूटूथ
Name[hu]=Bluetooth
Name[id]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[kk]=Bluetooth
Name[km]=ប៊្លូធូស
Name[kn]=ಬ್ಲೂಟೂತ್
Name[ko]=블루투스
Name[ky]=Bluetooth
Name[lt]=Bluetooth
Name[lv]=Bluetooth
Name[mk]=Bluetooth
Name[ml]=ബ്ലൂടൂത്ത്
Name[mr]=ब्ल्युटूथ
Name[nb]=Blåtann
Name[nl]=Bluetooth
Name[or]=ବ୍ଲୁଟୁଥ
Name[pa]=ਬਲਿਊਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ro]=Bluetooth
Name[ru]=Bluetooth
Name[sk]=Bluetooth
Name[sl]=Bluetooth
Name[sr]=Блутут
Name[sr@latin]=Blutut
Name[sv]=Bluetooth
Name[ta]=ப்ளூடூத்
Name[te]=బ్లూటూత్
Name[tg]=Bluetooth
Name[th]=บลูทูท
Name[tr]=Bluetooth
Name[ug]=كۆكچىش
Name[uk]=Bluetooth
Name[vi]=Bluetooth
Name[zh_CN]=蓝牙
Name[zh_HK]=藍牙
Name[zh_TW]=藍牙
Comment=Turn Bluetooth on and off and connect your devices
Comment[af]=Skakel Bluetooth aan en af en koppel toestelle
Comment[an]=Activar y desactivar o Bluetooth y connectar os tuyos dispositivos
Comment[ar]=شغّل أو أغلق بلوتوث لتوصيل جهازك بالأجهزة الأخرى
Comment[as]=ব্লুটুথ অন বা অফ কৰক আৰু আপোনাৰ ডিভাইচসমূহ সংযোগ কৰক
Comment[be]=Уключэнне Bluetooth і падлучэнне прыстасаванняў
Comment[bn_IN]=Bluetooth চালু এবং বন্ধ করুন এবং অাপনার ডিভাইসগুলি সংযুক্ত করুন
Comment[ca]=Activeu i desactiveu el Bluetooth i connecteu els dispositius
Comment[ca@valencia]=Activeu i desactiveu el Bluetooth i connecteu els dispositius
Comment[cs]=Zapnout a vypnout bluetooth a připojit se k zařízením
Comment[da]=Slå Bluetooth til eller fra og tilslut dine enheder
Comment[de]=Schalten Sie Bluetooth an oder aus und verbinden Sie Ihre Geräte
Comment[el]=Ενεργοποίηση/Απενεργοποίηση Bluetooth και σύνδεση των συσκευών σας
Comment[en_GB]=Turn Bluetooth on and off and connect your devices
Comment[eo]=Enŝalti kaj elŝalti Bludenton kaj konektitigi viajn aparatojn
Comment[es]=Activar y desactivar Bluetooth y conectar sus dispositivos
Comment[et]=Bluetoothi sisse- ja väljalülitamine ning seadmete ühendamine
Comment[eu]=Aktibatu eta desaktibatu Bluetooth eta konektatu gailuak
Comment[fa]=بلوتوث را خاموش و روشن کنید و به دستگاه‌های خود متصل شوید
Comment[fi]=Kytke Bluetooth päälle tai pois ja yhdistä laitteita
Comment[fr]=Active/désactive le Bluetooth et connecte vos périphériques
Comment[ga]=Cumasaigh agus díchumasaigh Bluetooth agus ceangail do chuid ghléasanna
Comment[gl]=Active ou desactive o Bluetooth e conecte os seus dispositivos
Comment[he]=הפעלה וכיבוי של ה־Bluetooth והתחברות להתקנים שלך
Comment[hi]=ब्लूटूथ को चालू और बंद करें और अपने उपकरणों को जोड़ें
Comment[hu]=Kapcsolja be és ki a Bluetooth-t, majd csatlakoztassa eszközeit
Comment[id]=Nyalakan dan matikan Bluetooth dan sambungkan perangkat Anda
Comment[it]=Attiva e disattiva il Bluetooth e connette i propri dispositivi
Comment[ja]=Bluetooth のオン/オフやデバイスへの接続を行います。
Comment[kk]=Bluetooth-ды іске қосыңыз не сөндіріңіз және құрылғыларды байланыстырыңыз
Comment[kn]=ಬ್ಲೂಟೂತ್ ಅನ್ನು ಆನ್ ಮತ್ತು ಆಫ್ ಮಾಡಿ ಹಾಗೂ ನಿಮ್ಮ ಸಾಧನಗಳೊಂದಿಗೆ ಸಂಪರ್ಕ ಸಾಧಿಸಿ
Comment[ko]=블루투스를 켜거나 끄고 블루투스 장치에 연결합니다
Comment[lt]=Įjunkite arba išjunkite Bluetooth ir junkitės prie savo įrenginių
Comment[lv]=Ieslēdziet un izslēdziet Bluetooth un savienojiet savas ierīces
Comment[ml]=ബ്ലുടൂത്ത് ഓണ്‍ ഓഫ് ആക്കിയതിനു ശേഷം ഉപകരണം കണക്ട് ചെയ്യുക
Comment[nb]=Slå av/på blåtann og koble til dine enheter
Comment[nl]=Bluetooth aan- en uitzetten en uw apparaten aansluiten
Comment[or]=ବ୍ଲୁଟୁଥ୍‌ କୁ ଅନ୍‌ କିମ୍ବା ଅଫ୍‌ କରି ଆପଣଙ୍କର ଉପକରଣ ସହିତ ସଂଯୋଗ କରନ୍ତୁ
Comment[pa]=ਬਲਿਊਟੁੱਥ ਜੰਤਰ ਨੂੰ ਚਾਲੂ ਤੇ ਬੰਦ ਕਰੋ ਅਤੇ ਆਪਣੇ ਜੰਤਰਾਂ ਨਾਲ ਕੁਨੈਕਟ ਕਰੋ
Comment[pl]=Włączanie Bluetooth i łączenie z urządzeniami
Comment[pt]=Ligar e desligar o Bluetooth e ligar os seus dispositivos
Comment[pt_BR]=Ligue e desligue o Bluetooth e conecte seus dispositivos
Comment[ru]=Включение и отключение Bluetooth. Подключение устройств Bluetooth
Comment[sk]=Zapína a vypína Bluetooth a pripája vaše zariadenia
Comment[sl]=Vklopite in izklopite Bluetooth in povežite svoje naprave.
Comment[sr]=Укључите или искључите блутут и повежите ваше уређаје
Comment[sr@latin]=Uključite ili isključite blutut i povežite vaše uređaje
Comment[ta]=Bluetooth ஐ ஆன் மற்றும் ஆஃப் செய்யவும் மற்றும் உங்கள் சாதனங்களை இணைக்கவும்
Comment[te]=బ్లూటూత్ ఆఫ్ మరియు ఆన్ చేసి మీ పరికరాలను అనుసంధానించండి
Comment[tg]=Фаъол ва хомӯш кардани Bluetooth ва пайваст кардани дастгоҳҳо
Comment[th]=เปิด-ปิดบูลทูท และเชื่อมต่ออุปกรณ์ของคุณ
Comment[tr]=Bluetooth'u açıp kapatın ve aygıtlarınızı bağlayın
Comment[uk]=Увімкнути або вимкнути з'єднання з пристроєм через Bluetooth
Comment[vi]=Bật/tắt Bluetooth và kết nối thiết bị
Comment[zh_CN]=开启关闭蓝牙以及连接您的设备
Comment[zh_HK]=開啟或關閉藍牙與連接你的裝置
Comment[zh_TW]=開啟或關閉藍牙與連接您的裝置
Icon=bluetooth
Exec=gnome-control-center bluetooth
Terminal=false
Type=Application
#NoDisplay=true
Categories=GTK;GNOME;Settings;X-GNOME-NetworkSettings;HardwareSettings;X-Unity-Settings-Panel;
X-Unity-Settings-Panel=bluetooth
OnlyShowIn=Unity;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=properties
X-GNOME-Bugzilla-Version=3.12.1
X-Desktop-File-Install-Version=0.22
